[Unit]
Description=Play with my frisbee!

[Service]
Type=simple
ExecStartPre=echo "Buy a frisbee!"
ExecStart=/usr/local/bin/play-ultimate.sh
ExecStartPost=echo "Get physical therapy"

[Install]
WantedBy=multi-user.target
